@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@information(Messages("terms.of.use")) {
<h3><b>利用規約</b></h3>
<br>
本ウェブサイト上のサービス「En-Taku」は、現在開発中です。
<br>
上述の理由により、今は詳細に利用規約を定めません。
<br>
しかしながら、管理者は以下のような事態が発生した場合に、投稿の消去、 サービスの利用停止、その他のしかるべき処置を取る場合があります。
<br>
<br>
投稿の内容がフィクションの範疇を超え、倫理的な問題のあるとき。
<br>
投稿の内容が他者の権利を著しく害するとき。
<br>
ユーザが、投稿機能によって他のユーザの個人情報を個人が特定できうる範囲まで収集しようとしたとき。
<br>
ユーザが、過剰なアクセスなど、サービスの運用に問題のある行動を行ったとき。
<br>
その他、ユーザがほかのユーザや管理者、及びサービスに対して迷惑のかかる行動をとったとき。
}
